{% extends 'base.html' %}

{% block title %}
    Product List
{% endblock %}

{% block content %}
    <form method="get" action=".">
        <input type="text" name="q" placeholder="Search..." value="{{query}}">

        <select name="sort_by"> Sort By
            <option value="name_asc" {% if sort_by == "name_asc" %} selected {% endif %} > Name (A-Z) </option>
            <option value="name_desc" {% if sort_by == "name_desc" %} selected {% endif %} > Name (Z-A) </option>
            <option value="price_asc" {% if sort_by == "price_asc" %} selected {% endif %} > Price (Log to High)</option>
            <option value="price_desc" {% if sort_by == "price_desc" %} selected {% endif %} > Price (High to Low) </option>

        </select>

        <input type='submit' value="apply">

    </form>

    <form method="POST" action=" {% url 'ecommerce_app:add_products_to_cart' %} ">
        {% csrf_token %}

          {% for product in products %}
                <input type="checkbox" name="selected_product_ids" value="{{ product.id }}"> {{ product.name }} <br>
          {% endfor %}

            <input type="submit" value="Add to Cart">
    </form>
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>



</body>
</html>